.header {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 0;
  display: flex;
  flex-direction: column;



  &__topper {
    display: flex;
    width: fit-content;
    max-width: 100%;
    margin-bottom: 36px;
  }

  &__logo {
    display: block;
    flex-shrink: 0;
    margin-right: 280px;
  }

  &__nav {
    display: flex;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 172px;
  }

  &__nav-item {
    margin: 0;

  }

  &__nav-link {
    display: block;
    color: inherit;
    text-decoration: none;
    transition: opacity $trans-default;
    font-weight: 500;

    &.is-active {
      opacity: 0.6;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__line{
    display: block;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: #EAEAEA;
    height: 1px;
    margin-bottom: 30px;
  }

  &__bottom {
    display: flex;
  }

  &__nav-bottom-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 57px;
    padding: 0;
  }

  &__nav-bottom-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    img{
      margin-right: 48px;
    }
  }

  &__nav-bottom-link{
    margin-right: 13px;
    color: #BABABA;
    font-weight: 500;
    font-size: 16px;
  }

  &__nav-bottom-separator{
    display: block;
    flex-shrink: 0;
    background: #ECECEC;
    width: 1px;
    height: 30px;
  }

  &__nav-bottom-item:last-child {
    .separator,
    & .header__nav-bottom-separator {
      display: none;
    }
  }
}
