.header {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto 25px auto;
  padding: 40px 0 0;
  display: flex;
  flex-direction: column;



  &__topper {
    display: flex;
    width: fit-content;
    max-width: 100%;
    margin-bottom: 36px;
  }

  &__logo {
    display: block;
    flex-shrink: 0;
    margin-right: 280px;
  }

  &__nav {
    display: flex;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 172px;
  }

  &__nav-item {
    margin: 0;

  }

  &__nav-link {
    display: block;
    color: inherit;
    text-decoration: none;
    transition: color $trans-default;
    font-weight: 500;

    &.is-active {
      color: #486DD8;
    }

    @include hover-focus {
      color: #486DD8;
    }
  }

  &__line{
    display: block;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: #EAEAEA;
    height: 1px;
    margin-bottom: 30px;
  }

  &__bottom {
    display: flex;
  }

  &__nav-bottom-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 57px;
    padding: 0;
  }

  &__nav-bottom-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;

    &:has(.is-active) {
      span.header__nav-bottom-link.is-active {
        color: #486DD8;
      }

      img {
        filter: brightness(0) saturate(100%) invert(37%) sepia(90%) saturate(2000%) hue-rotate(210deg) brightness(0.9) contrast(1.1);
      }
    }
  }

  &__nav-bottom-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
    margin-right: 35px;
    text-decoration: none;
    padding: 8px 12px;
    margin: -8px 35px -8px -12px;
    transition: color $trans-default;
    cursor: pointer;

    &-text {
      color: #BABABA;
      font-weight: 500;
      font-size: 16px;
      transition: color $trans-default;
    }

    img{
      transition: filter $trans-default;
    }

    &.is-active {
      color: #486DD8;
    }

    @include hover-focus {
      .header__nav-bottom-link-text {
        color: #486DD8;
      }

      img {
        filter: brightness(0) saturate(100%) invert(37%) sepia(90%) saturate(2000%) hue-rotate(210deg) brightness(0.9) contrast(1.1);
      }
    }
  }

  &__nav-bottom-separator{
    display: block;
    flex-shrink: 0;
    background: #ECECEC;
    width: 1px;
    height: 30px;
  }

  &__nav-bottom-item:last-child {
    .separator,
    & .header__nav-bottom-separator {
      display: none;
    }
  }
}
