@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";

  font-display: swap;
  src:
    url("../fonts/inter-v11-latin_cyrillic-400.woff2") format("woff2"),
    url("../fonts/inter-v11-latin_cyrillic-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Inter";

  font-display: swap;
  src:
    url("../fonts/inter-v11-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/inter-v11-latin_cyrillic-500.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Inter";

  font-display: swap;
  src:
    url("../fonts/inter-v11-latin_cyrillic-600.woff2") format("woff2"),
    url("../fonts/inter-v11-latin_cyrillic-600.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Inter";

  font-display: swap;
  src:
    url("../fonts/inter-v11-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/inter-v11-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Inter";

  font-display: swap;
  src:
    url("../fonts/inter-v11-latin_cyrillic-800.woff2") format("woff2"),
    url("../fonts/inter-v11-latin_cyrillic-800.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/Gilroy-SemiBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/Gilroy-ExtraBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/Gilroy-Black.woff") format("woff");
}
