mixin benefits(benefitsMods)

  section.benefits(class=benefitsMods)
    .benefits__container
      .benefits__card
        h3 Агрегируем курсы по самым актуальным темам для новичков и практикующих специалистов.
        .benefits__info-container
          .info-left
            img(src="img/images/benefits-1.svg", alt="")
            .text-container
              h4 300+ довольных
                br
                | пользователей
              p Дополнительно в этом методе есть кнопка «Объединить по строкам». С помощью неё можно объединить ячейки выбранного диапазона построчно.
          .info-right
            .info-benefit(data-image="img/images/benefits-1.svg" data-title="300+ довольных" data-title-break="пользователей")
                .info-benefit__icon.person
                  svg(xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M4.04297 10.7334C4.04297 7.38283 6.75911 4.66669 10.1096 4.66669C13.4602 4.66669 16.1763 7.38283 16.1763 10.7334C16.1763 14.0839 13.4602 16.8 10.1096 16.8C6.75911 16.8 4.04297 14.0839 4.04297 10.7334Z" fill="white")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M3.40927 19.4427C5.05989 18.6549 7.27094 18.4006 10.1111 18.4006C12.9513 18.4006 15.1623 18.6549 16.813 19.4427C18.5552 20.2742 19.6121 21.6686 20.1765 23.684C20.2721 24.0251 20.2159 24.3962 20.0254 24.6839C19.8348 24.9715 19.5325 25.1413 19.2111 25.1413H1.01112C0.689679 25.1413 0.387391 24.9715 0.196836 24.6839C0.00628032 24.3962 -0.0498363 24.0251 0.0456727 23.684C0.61014 21.6686 1.66704 20.2742 3.40927 19.4427Z" fill="white")
                    path(d="M17.1104 3.39765L19.7302 6.01754L24.97 0.777771" stroke="white" stroke-width="1.55556" stroke-linecap="round" stroke-linejoin="round")
                .info-benefit__text
                  h5 Довольные пользователи
                  p Изучение тем на вебинарах с преподавателями, наставником. После прохождения курса вы будете
            .info-benefit(data-image="img/images/benefits-2.svg" data-title="1000+ образовательных курсов")
                .info-benefit__icon.graphic
                  svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M3.12435 0.21416C3.85509 0.0517599 4.72014 0 5.71075 0H14.5115C15.5021 0 16.3671 0.0517599 17.0979 0.21416C17.8401 0.379112 18.5042 0.67134 19.0276 1.19466C19.5509 1.71798 19.8431 2.38214 20.0081 3.12435C20.1705 3.85509 20.2222 4.72014 20.2222 5.71076V10.467C20.2222 11.4576 20.1705 12.3227 20.0081 13.0534C19.8431 13.7956 19.5509 14.4598 19.0276 14.9831C18.5042 15.5064 17.8401 15.7987 17.0979 15.9636C16.3671 16.126 15.5021 16.1778 14.5115 16.1778H12.1333L13.9533 18.6044C14.2884 19.0512 14.1978 19.6849 13.7511 20.02C13.3044 20.3551 12.6706 20.2645 12.3356 19.8178L10.1111 16.8519L7.88667 19.8178C7.55161 20.2645 6.91785 20.3551 6.47111 20.02C6.02437 19.6849 5.93384 19.0512 6.26889 18.6044L8.08889 16.1778H5.71075C4.72014 16.1778 3.85509 16.126 3.12435 15.9636C2.38214 15.7987 1.71798 15.5064 1.19466 14.9831C0.67134 14.4598 0.379112 13.7956 0.21416 13.0534C0.0517599 12.3227 0 11.4576 0 10.467V5.71076C0 4.72014 0.0517599 3.85509 0.21416 3.12435C0.379112 2.38214 0.67134 1.71798 1.19466 1.19466C1.71798 0.67134 2.38214 0.379112 3.12435 0.21416ZM11.1222 5.05556C11.1222 4.49713 10.6695 4.04444 10.1111 4.04444C9.55269 4.04444 9.1 4.49713 9.1 5.05556L9.1 11.1222C9.1 11.6806 9.55269 12.1333 10.1111 12.1333C10.6695 12.1333 11.1222 11.6806 11.1222 11.1222L11.1222 5.05556ZM14.1556 5.05556C14.714 5.05556 15.1667 5.50825 15.1667 6.06667L15.1667 11.1222C15.1667 11.6806 14.714 12.1333 14.1556 12.1333C13.5971 12.1333 13.1444 11.6806 13.1444 11.1222L13.1444 6.06667C13.1444 5.50825 13.5971 5.05556 14.1556 5.05556ZM7.07778 7.07778C7.07778 6.51936 6.62509 6.06667 6.06667 6.06667C5.50824 6.06667 5.05556 6.51936 5.05556 7.07778L5.05555 11.1222C5.05555 11.6806 5.50824 12.1333 6.06667 12.1333C6.62509 12.1333 7.07778 11.6806 7.07778 11.1222L7.07778 7.07778Z" fill="white")
                .info-benefit__text
                  h5 Образовательные курсы
                  p Изучение тем на вебинарах с преподавателями, наставником. После прохождения курса вы будете
            .info-benefit(data-image="img/images/benefits-3.svg" data-title="300+ довольных пользователей")
                .info-benefit__icon.medal
                  svg(xmlns="http://www.w3.org/2000/svg" width="14" height="21" viewBox="0 0 14 21" fill="none")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M0 6.74511C0 3.01989 3.01989 0 6.74511 0C10.4703 0 13.4902 3.01989 13.4902 6.74511C13.4902 10.4703 10.4703 13.4902 6.74511 13.4902C3.01989 13.4902 0 10.4703 0 6.74511Z" fill="#655BD5")
                    path(d="M1.87115 12.9188C1.52634 12.646 0.986938 12.7955 0.880299 13.222L0.18036 16.0218C-0.537365 18.8927 2.52644 21.23 5.10565 19.7792L6.19893 19.1642C6.54115 18.9717 6.95901 18.9717 7.30122 19.1642L8.3945 19.7792C10.9737 21.23 14.0375 18.8927 13.3198 16.0218L12.6199 13.222C12.5132 12.7955 11.9738 12.646 11.629 12.9188C10.2879 13.9799 8.59298 14.6134 6.75008 14.6134C4.90718 14.6134 3.21224 13.9799 1.87115 12.9188Z" fill="#655BD5")
                .info-benefit__text
                  h5 Менторы из больших компаний
                  p Изучение тем на вебинарах с преподавателями, наставником. После прохождения курса вы будете
