mixin hero(heroMods)
  section.hero(class=heroMods)
    .hero__container
      .hero__left-side
        h1.hero__title
          | FindEdu - все для
          br
          | выбора новой профессии
          br
          | в одном месте
        p.hero__subtitle Изучение тем на вебинарах с преподавателями, личные
          br
          | консультации с наставником. После прохождения курса
          br
          | с наставником. После прохождения курса
        .hero__compare-btn
          .hero__compare-btn_text-wrapper
            p.hero__compare-btn_text Сравнить курсы
          img(src="/img/icons/stats_icon.svg", alt="Иконка дисплей со статистикой")
      .hero__right-side
        img(src="/img/images/hero-man.png", alt="Взволнованный мужчина")
        .hero__stats-block
          .hero__stats-block-left
            .left-stats-title
              p.stats-title UX/UI designer
              img(src="/img/icons/stars.svg", alt="")
            .left-stats-subtitle
              p.stats-subtitle UX/UI-дизайнер — одна из самых
                br
                | востребованных профессий 2020 года
            .stats-display
              img(src="/img/images/stats.svg", alt="Статистика использования приложений")
          .hero__stats-block-right
            .right-stats-title
              p.stats-title-sellary 120 000 рублей
            .left-stats-subtitle
              p.stats-subtitle-companies 1 561 компания








