@mixin breakpoint-down($breakpoint) {
	@if $breakpoint == 'tab' {
		@media (max-width: ($vp-1024 - 1px)) {
			@content;
		}
	} @else if $breakpoint == 'mob' {
		@media (max-width: ($vp-768 - 1px)) {
			@content;
		}
	}
}

@mixin basicContainer {
	width: 1280px;
	width: 100%;
	padding: 0 320px;
  margin: 0 auto;

	@include breakpoint-down('tab') {
		padding: 0 20px;
	}

	@include breakpoint-down('mob') {
		padding: 0 0;
	}
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-tablet {
  @media (min-width: $vp-768) and (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}
